In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.preprocessing import StandardScaler

In [9]:
heart_data = pd.read_csv('/content/sample_data/heart_disease_data.csv')
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [ ]:
heart_data.info()

In [ ]:
heart_data.describe()

In [ ]:
plt.figure(figsize=(20,10))
sns.countplot(x='age',hue='target',data=heart_data)

In [ ]:
sns.countplot(x='sex',hue='target',data=heart_data)

In [30]:
X = heart_data.drop('target',axis=1)
Y = heart_data['target']

In [42]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [46]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [47]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [48]:
ypre = model.predict(x_train)
ypre_1 = model.predict(x_test)
a_1 = metrics.accuracy_score(y_train,ypre)
a_2 = metrics.accuracy_score(y_test,ypre_1)
print(a_1, a_2)

0.8471074380165289 0.7868852459016393

In [ ]:
X_trial = x_test[2]
pred = model.predict(X_trial.reshape(1,-1))
print(pred,y_test)