In [79]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [80]:
M_data = pd.read_csv('/content/sample_data/mail_data.csv')
M_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [81]:
M_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [82]:
M_data['Category'].value_counts()

ham     4825
spam     747
Name: Category, dtype: int64

In [83]:
M_data.replace({'Category':{'spam':0,'ham':1}},inplace=True)
M_data.head()

   Category                                            Message
0         1  Go until jurong point, crazy.. Available only ...
1         1                      Ok lar... Joking wif u oni...
2         0  Free entry in 2 a wkly comp to win FA Cup fina...
3         1  U dun say so early hor... U c already then say...
4         1  Nah I don't think he goes to usf, he lives aro...

In [88]:
X1 = M_data.drop(columns='Category',axis=1)
X = M_data['Message']
Y = M_data['Category']

In [ ]:
convert = TfidfVectorizer()
X_tr = convert.fit_transform(X)
print(X_tr)

In [98]:
x_train,x_test,y_train,y_test = train_test_split(X_tr,Y,test_size=0.2,stratify=Y,random_state=3)

In [99]:
model = LogisticRegression()
model.fit(x_train,y_train)

LogisticRegression()

In [100]:
ypre = model.predict(x_train)
ypre_1 = model.predict(x_test)
acc = accuracy_score(y_train,ypre)
acc_1 = accuracy_score(y_test,ypre_1)
print(acc, acc_1)

0.9739735247924612 0.968609865470852

In [111]:
input= [X[3]]
input_tr = convert.transform(input)
pred = model.predict(input_tr)
print(pred[0])

1